{{ partial "header.html" . }}

{{ $h0title := "" }}
{{ if eq .Kind "term" }}
{{ $h0title = .Title }}
{{ else if not .IsHome }}
{{ range (where .Site.Menus.main "Identifier" .Section ) }}
{{ $h0title = .Name }}
{{ end }}
{{ else if .IsHome }}
{{ $h0title = "近期文档" }}
{{ end }}
<h1 class="h0">{{$h0title}}</h1>

<!-- {{ .Content }} -->


{{ $pages := .Pages }}
{{ if .IsHome }}
{{ $pages = .Site.RegularPages }}
{{ end }}
{{ range (where $pages "Section" "!=" "") }}
<section class="list-block">
  <div class="list-title-line">
    <div style="float: right;">
      ({{ .Lastmod.Format .Site.Params.dateformat }})
    </div>
    <div>
      <a href="{{ .RelPermalink }}" style="text-decoration: inherit; color:inherit;">
        <span class="list-title">{{ .Title }}</span>
        {{ if .Params.Subtitle }}
        <span class="list-subtitle">——{{ .Params.Subtitle }}</span>
        {{ end }}
      </a>
    </div>
  </div>
  <div class="list-summary">
    {{ if .Params.Description }}
    {{ .Description | markdownify }}
    {{ else }}
    {{ .Summary | markdownify }}
    {{ end }}
  </div>
</section>
<!-- <hr> -->
{{ end }}


{{ partial "footer.html" . }}