{{ partial "header.html" . }}

<article>
  <header class="article-meta">
    <section class="title">
      {{ .Title | markdownify }}
    </section>

    {{ if .Params.subtitle }}
    <section class="subtitle">——{{ .Params.subtitle | markdownify }}</section>
    {{ end }}

    {{ with .Params.author }}
    <section class="author">{{ . }}</section>
    {{ end }}

    {{ if (gt .Params.date 0) }}
    <section>创建:
      <span class="date">
        {{ .PublishDate.Format .Site.Params.dateformat }}
      </span>
    </section>
    {{ end }}

    {{ if (gt .Params.lastmod 0) }}
    <section>修改:
      <span class="date">
        {{ .Lastmod.Format .Site.Params.dateformat }}
      </span>
    </section>
    {{ end }}

    <section>
      {{ if not (eq .Params.licence nil) }}
      {{ if .Params.licence }}
      {{ .Params.licence | markdownify }}
      {{ end }}
      {{ else }}
      <!-- CC BY-NC-SA 4.0 by default -->
      {{ "[CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/)" | markdownify }}
      {{ end }}
      |
      <a href="{{index .Aliases 0}}">PID/{{.Params.Id}}</a>
      <!-- I decided not to share the source. -->
      <!-- | -->
      <!-- <a href="{{.Site.Params.ForkMe}}/{{.File.Path}}" target="_blank">FORKME</a> -->
    </section>

  </header>
  <!-- <div>
      <div class="previous-article">
        {{ with .PrevInSection }}
        更早：<a href="{{.Permalink}}">{{.Title}}</a>
        {{ end }}
      </div>
      <div class="next-article">
        {{ with .NextInSection }}
        更晚：<a href="{{.Permalink}}">{{.Title}}</a>
        {{ end }}
      </div>
    </div> 
    <br> -->
  <!-- <hr> -->

  {{ if (.Params.Tags) }}
  <section>标签:
    {{ $first := 1 }}
    {{ range .Params.Tags }}
    {{ if not $first }}
    |
    {{ end }}
    {{ $first = 0 }}
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
    {{ end }}
  </section>
  {{ end }}

  {{ if (.Params.Categories)}}
  <section>归档:
    {{ $first := 1 }}
    {{ range .Params.Categories }}
    {{ if not $first }}
    |
    {{ end }}
    {{ $first = 0 }}
    <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
    {{ end }}
  </section>
  {{ end }}

  <section class="description">
    {{ .Description | markdownify }}
  </section>
  <!-- Ignore empty table of contents. -->
  {{ if ne (print .TableOfContents) "<nav id=\"TableOfContents\"></nav>" }}
  <section>
    {{ .TableOfContents }}
  </section>
  {{ end }}
  <main>
    {{ .Content }}
  </main>
</article>

{{if .Params.closecomment}}
<!-- 评论已关闭。 -->
{{else}}
{{partial "beaudar.html" .}}
{{end}}

{{ partial "footer.html" . }}