<link rel="stylesheet" href="https://unpkg.com/vssue/dist/vssue.min.css" />
<div id="vssue"></div>

<!-- 先引入 Vue -->

<!-- Vue 运行时版 (runtime only)  -->
<script src="https://unpkg.com/vue/dist/vue.runtime.min.js"></script>

<!-- 在 Vue 之后引入 Vssue -->

<!-- Vssue Github 版  -->
<script src="https://unpkg.com/vssue/dist/vssue.github.min.js"></script>
<!-- 或： Vssue Gitlab 版  -->
<!-- <script src="https://unpkg.com/vssue/dist/vssue.gitlab.min.js"></script> -->
<!-- 或： Vssue Bitbucket 版  -->
<!-- <script src="https://unpkg.com/vssue/dist/vssue.bitbucket.min.js"></script> -->
<!-- 或： Vssue Gitee 版  -->
<!-- <script src="https://unpkg.com/vssue/dist/vssue.gitee.min.js"></script> -->
<!-- 或： Vssue Gitea 版  -->
<!-- <script src="https://unpkg.com/vssue/dist/vssue.gitea.min.js"></script> -->

<!-- 将 Vssue 作为 Vue 组件使用 -->

<!-- 对于 Vue 运行时版，使用渲染函数（render function） -->
<script src="{{ "/js/vssue.js" | relURL }}"></script>